@import url('https://fonts.googleapis.com/css2?family=Monserrat&display=swap');

body{
    font-family:'Monserrat', sans-serif;
    overflow-x: hidden;
}

/*======= MENU =======*/
#navbarSupportedContent a:hover{
    opacity: 0.6;
}

/*Color for stars*/
/* .fa-star, .fa-star-half-alt{
    color:#ffc400; } */

/*For images with the class center*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
  }

#accordionExample li > a{ /*Remove underline of links cause default is underline for links*/
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
    color: #002171;
}

#accordionExample a{ /*Remove underline of links cause default is underline for links*/
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
    color: #002171;
}

#Embebidos a{  /*Link to refresh website in embeddeds*/
    text-decoration: none; /*Remove underline of links cause default is underline for links*/
    font-weight: 600;
    font-style: italic;
    color: #002171;
}

#video a{  /*Link to refresh website in embeddeds*/
    text-decoration: none; /*Remove underline of links cause default is underline for links*/
    font-weight: 600;
    font-style: italic;
    color: #002171;
}

a:hover{ /* Pseudoclass when mouse is over the elements a*/
    opacity: 0.6; /*Changes the opacity of the elements from 0 to 1*/
    cursor: pointer;
  }

#menu li > a { /* The # indicates the id, and the > represents "parent of" example: for id=menu, where 'li' holds an 'a' */
    font-size: 18px;
    color: #3f3f3f;
}

#menu ul > li{
    text-align: center;
}

.sup {
    position: relative;
    bottom: 1ex; 
    font-size: 80%;
  }

/*======= PDF Viewer =======*/
.pdfview {
    margin: auto;
    display: block;
    width: 100%;
    height: 100vh;
}

h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 {
    text-align:center;
    display: block;
    font-size: 1.17em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

/*======= Slider of images =======*/
.carousel-inner{
    max-height: 39rem; /*Size of image*/
}

/*======= Slider of testimonial slider =======*/
.testimonial-area{
    position: relative;
    margin-bottom: 5%;
    margin-top: 2%;
}

#img-area {
    text-align: center;
}

/*======= ABOUT =======*/
#about p{
    font-size: 18px;
}

/*======= CONTACT =======*/
/* #bg-contact{
    position: relative;
    top: -130px;
}
#contact-section{
    background-color: #1b2a4e;
    min-height: 10%;
    position: bottom;
} */

/*======= MEDIA QUERIES =======*/
/* The # is used for id's and the . is used for classes */
@media (max-width:768px){
    #intro, #about, #accordionExample{
        width: 90% !important; /*With important, bootstrap holds 90% of the intro*/
    }
    .academic-experience {
        width: 100% !important;
        text-align: center;
    }
    #WorkExperience {
        width:90% !important;
    }
    #Embebidos {
        width:90% !important;
    }
    #video {
        width: 90% !important;
    }
        
}

@media(max-width: 576px){ /*For small screens, put text below the picture*/
    .icon-wrap{ 
        flex-wrap: wrap;
        justify-content: center !important;
    }
    #WorkExperience {
        width:90% !important;
    }
    #Embebidos {
        width:90% !important;
    }
    #video {
        width:90% !important;
    }
}
