@import url('https://fonts.googleapis.com/css2?family=Monserrat&display=swap');

body{
    font-family:'Monserrat', sans-serif;
    overflow-x: hidden;
}

/*======= MENU =======*/
#navbarSupportedContent a:hover{
    opacity: 0.6;
}

#menu li > a { /* The # indicates the id, and the > represents "parent of" example: for id=menu, where 'li' holds an 'a' */
    font-size: 18px;
    color: #3f3f3f;
}

#menu ul > li{
    text-align: center;
}

/*======= Slider of images =======*/
.carousel-inner{
    max-height: 39rem; /*Size of image*/
}

/*======= Slider of testimonial slider =======*/
.testimonial-area{
    position: relative;
    margin-bottom: 10%;
    margin-top: 2%;
}

/*======= ABOUT =======*/
#about p{
    font-size: 18px;
}

/*======= MEDIA QUERIES =======*/
@media (max-with:768px){
    #intro{
        width: 90% !important; /*With important, bootstrap holds 90% of the intro*/
    }
    .academic-experience {
        width: 100% !important;
        text-align: center;
    }
}

@media(max-width: 576px){ /*For small screens, put text below the picture*/
    .icon-wrap{ 
        flex-wrap: wrap;
        justify-content: center !important;
    }
}
